@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #ad2121;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex: 1;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 35px;
}
header nav ul :hover {
  background-color: #831a1a;
}

.navbar_location {
  background-color: #831a1a;
  font-size: 1.3rem;
}

footer {
  background-color: rgb(236, 203, 141);
  display: flex;
  align-items: stretch;
}
footer nav {
  width: 35%;
  background-color: rgb(228, 183, 100);
}
footer nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
footer nav ul li {
  list-style: none;
}
footer nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: brown;
  display: inline-block;
  padding-top: 5px;
}
footer .pie {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .pie .copyright {
  width: 100%;
}
footer .pie .copyright p {
  padding: 15px;
  font-weight: 500;
  color: brown;
}
footer .pie .copyright p span {
  font-weight: 100;
  color: rgb(0, 0, 0);
}
footer .pie .redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .pie .redes a .rs-facebook {
  width: 30px;
  border-radius: 5px;
  background-color: rgb(25, 25, 165);
}
footer .pie .redes a .rs-instagram {
  width: 30px;
  border-radius: 5px;
  background-color: rgb(235, 20, 206);
}
footer .pie .redes a .rs-tik-tok {
  width: 30px;
  border-radius: 5px;
  background-color: rgb(226, 50, 50);
}
footer .pie .redes a .rs-twitter {
  width: 30px;
  border-radius: 5px;
  background-color: rgb(0, 140, 255);
}
footer .pie .redes a .rs-whatsapp {
  width: 30px;
  border-radius: 5px;
  background-color: rgb(24, 212, 24);
}

.main_inicio {
  min-height: calc(100vh - 44px);
  background-color: rgb(212, 188, 188);
}
.main_inicio .inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.main_inicio .inicio .lotus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 10px;
}
.main_inicio .inicio .lotus h1 {
  font-family: "Lora", serif;
  font-size: 5rem;
}
.main_inicio .inicio .lotus .logo {
  width: 150px;
}
.main_inicio .inicio .pelota {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  animation-name: pelota;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
@keyframes pelota {
  0% {
    transform: translateY(40px) scale(1, 0.7);
  }
  4% {
    transform: translatey(30px) rotate(1deg);
  }
  50% {
    transform: translatey(-20px) rotate(130deg);
  }
  96% {
    transform: translatey(30px) rotate(360deg);
  }
  100% {
    transform: translateY(40px) scale(1, 0.7);
  }
}
.main_inicio .apoyo {
  display: flex;
  margin-block: 10px;
}
.main_inicio .apoyo .buenas-zapatillas {
  width: 50%;
  padding: 10px;
  border: 3px solid rgb(231, 172, 172);
}
.main_inicio .apoyo .buenas-zapatillas h2 {
  font-family: "Lora", serif;
  padding: 10px;
}
.main_inicio .apoyo .buenas-zapatillas p {
  padding: 10px;
}
.main_inicio .apoyo .tips {
  width: 40%;
  padding: 20px;
  border: 3px solid rgb(231, 172, 172);
}
.main_inicio .video {
  width: 600px;
  max-width: 100%;
}
.main_inicio .video iframe {
  width: 100%;
  aspect-ratio: 16/9;
  padding: 20px;
}

.main_quienes-somos {
  background-color: rgb(212, 188, 188);
  min-height: calc(100vh - 51.2px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main_quienes-somos .historia {
  width: 60%;
  padding: 25px 40px;
}
.main_quienes-somos .historia h1 {
  font-family: "Lora", serif;
}
.main_quienes-somos .historia .tabo {
  text-decoration: none;
}
.main_quienes-somos .logo {
  width: 30%;
}
.main_quienes-somos .logo img {
  width: 100%;
  max-width: 350px;
}

.main_productos {
  background-color: rgb(212, 188, 188);
}
.main_productos .carousel {
  padding-block: 10px;
}
.main_productos .carousel .carousel_size {
  width: 75%;
}
.main_productos .carousel .carousel_size span {
  background-color: rgb(70, 70, 70);
}
.main_productos .carousel .carousel_size img {
  width: 100%;
  max-height: 600px;
  background-color: rgb(255, 255, 255);
}
.main_productos h2 {
  font-family: "Lora", serif;
  margin-block: 1.5rem 1rem;
  font-weight: 600;
}
.main_productos .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.main_productos .cards .card {
  max-width: 250px;
  padding: 10px;
  background-color: rgb(224, 224, 224);
}
.main_productos .cards .card .card_img {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_productos .cards .card .card_img img {
  width: 100%;
}
.main_productos .cards .card .card_info .zapatilla {
  font-weight: 700;
}
.main_productos .cards .card .card_info .precio-viejo {
  font-weight: 300;
  text-decoration: line-through;
}
.main_productos .cards .card .card_info .precio {
  font-weight: 600;
}

.main_iconicas {
  background-image: url("../image/fondo-basquet.jpg");
  width: 100%;
  height: 125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_iconicas .galeria {
  width: 100%;
  height: 125rem;
  display: grid;
  grid-template-columns: 50px repeat(12, 1fr) 50px;
  grid-template-rows: 75px 25px repeat(31, 1fr);
  align-items: end;
}
.main_iconicas .galeria .titulo {
  font-family: "Lora", serif;
  color: white;
  margin: 0px;
  grid-column: 5/11;
  grid-row: 1/2;
}
.main_iconicas .galeria .lamelo-1 {
  grid-column: 2/6;
  grid-row: 3/8;
}
.main_iconicas .galeria .title_lamelo-1 {
  grid-column: 2/6;
  grid-row: 8/9;
  height: 100%;
}
.main_iconicas .galeria .jordan-11 {
  grid-column: 7/10;
  grid-row: 3/8;
}
.main_iconicas .galeria .title_jordan-11 {
  grid-column: 7/10;
  grid-row: 8/9;
  height: 100%;
}
.main_iconicas .galeria .curry-1 {
  grid-column: 11/14;
  grid-row: 3/8;
}
.main_iconicas .galeria .title_curry-1 {
  grid-column: 11/14;
  grid-row: 8/9;
  height: 100%;
}
.main_iconicas .galeria .kobe-6 {
  grid-column: 9/14;
  grid-row: 9/15;
}
.main_iconicas .galeria .title_kobe-6 {
  grid-column: 9/14;
  grid-row: 15/16;
  height: 100%;
}
.main_iconicas .galeria .kyrie-4 {
  grid-column: 3/8;
  grid-row: 9/15;
}
.main_iconicas .galeria .title_kyrie-4 {
  grid-column: 3/8;
  grid-row: 15/16;
  height: 100%;
}
.main_iconicas .galeria .harden-3 {
  grid-column: 2/5;
  grid-row: 17/22;
}
.main_iconicas .galeria .title_harden-3 {
  grid-column: 2/5;
  grid-row: 22/23;
  height: 100%;
}
.main_iconicas .galeria .gt-cut-2 {
  grid-column: 6/9;
  grid-row: 17/22;
}
.main_iconicas .galeria .title_gt-cut-2 {
  grid-column: 6/9;
  grid-row: 22/23;
  height: 100%;
}
.main_iconicas .galeria .dame-8 {
  grid-column: 10/13;
  grid-row: 17/22;
}
.main_iconicas .galeria .title_dame-8 {
  grid-column: 10/13;
  grid-row: 22/23;
  height: 100%;
}
.main_iconicas .galeria .curry-9 {
  grid-column: 2/5;
  grid-row: 24/27;
  background-color: rgb(216, 216, 216);
}
.main_iconicas .galeria .title_curry-9 {
  grid-column: 2/5;
  grid-row: 27/28;
  height: 100%;
}
.main_iconicas .galeria .kyrie-7 {
  grid-column: 6/10;
  grid-row: 24/28;
}
.main_iconicas .galeria .title_kyrie-7 {
  grid-column: 6/10;
  grid-row: 28/29;
  height: 100%;
}
.main_iconicas .galeria .tatum-1 {
  grid-column: 11/14;
  grid-row: 24/31;
}
.main_iconicas .galeria .title_tatum-1 {
  grid-column: 11/14;
  grid-row: 31/32;
  height: 100%;
}
.main_iconicas .galeria .ja-morant-1 {
  grid-column: 2/6;
  grid-row: 29/33;
}
.main_iconicas .galeria .title_ja-morant-1 {
  grid-column: 2/6;
  grid-row: 33/34;
  height: 100%;
}
.main_iconicas .galeria .luka-1 {
  grid-column: 7/10;
  grid-row: 29/32;
  background-color: white;
}
.main_iconicas .galeria .title_luka-1 {
  grid-column: 7/10;
  grid-row: 32/33;
  height: 100%;
}

.sube {
  width: 45px;
  position: fixed;
  bottom: 10px;
  right: 5px;
}
.sube img {
  width: 100%;
}
.sube :hover {
  border-radius: 50%;
  background-color: white;
}

.modelo {
  margin: 0px;
  padding: 10px;
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.651);
  color: antiquewhite;
}

.img_iconicas {
  width: 100%;
}

.main_contacto {
  min-height: calc(100vh - 51.2px);
  background-color: rgb(212, 188, 188);
  display: flex;
  align-items: center;
}
.main_contacto .contacto {
  width: 50%;
  padding: 15px;
}
.main_contacto form {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_contacto form label {
  margin: 0px;
}

@media screen and (max-width: 767px) {
  ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 770px) {
  .main_inicio {
    display: flex;
    flex-direction: column;
  }
  .main_inicio .apoyo {
    flex-direction: column;
  }
  .main_inicio .apoyo .buenas-zapatillas {
    width: 100%;
    border: 0px;
  }
  .main_inicio .apoyo .tips {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .main_quienes-somos {
    flex-direction: column;
    align-items: center;
  }
  .main_quienes-somos .historia {
    width: 100%;
  }
  .main_quienes-somos .logo {
    width: 200px;
  }
}
@media screen and (max-width: 991px) {
  .main_productos .cards .card {
    width: 225px;
  }
}
@media screen and (max-width: 490px) {
  .main_productos .cards .card {
    width: 165px;
  }
}
@media screen and (max-width: 876px) {
  .main_iconicas {
    height: auto;
  }
  .main_iconicas .galeria {
    height: auto;
    display: grid;
    grid-template-columns: 30px repeat(6, 1fr) 30px;
    grid-template-rows: 30px 30px repeat(31, 1fr) 20px;
  }
  .main_iconicas .galeria .titulo {
    grid-column: 3/7;
    grid-row: 2/3;
  }
  .main_iconicas .galeria .lamelo-1 {
    grid-column: 2/5;
    grid-row: 3/7;
  }
  .main_iconicas .galeria .title_lamelo-1 {
    grid-column: 2/5;
    grid-row: 7/8;
  }
  .main_iconicas .galeria .jordan-11 {
    grid-column: 6/8;
    grid-row: 3/7;
  }
  .main_iconicas .galeria .title_jordan-11 {
    grid-column: 6/8;
    grid-row: 7/8;
  }
  .main_iconicas .galeria .curry-1 {
    grid-column: 2/4;
    grid-row: 8/12;
  }
  .main_iconicas .galeria .title_curry-1 {
    grid-column: 2/4;
    grid-row: 12/13;
  }
  .main_iconicas .galeria .kobe-6 {
    grid-column: 5/8;
    grid-row: 8/12;
  }
  .main_iconicas .galeria .title_kobe-6 {
    grid-column: 5/8;
    grid-row: 12/13;
  }
  .main_iconicas .galeria .kyrie-4 {
    grid-column: 2/5;
    grid-row: 13/17;
  }
  .main_iconicas .galeria .title_kyrie-4 {
    grid-column: 2/5;
    grid-row: 17/18;
  }
  .main_iconicas .galeria .dame-8 {
    grid-column: 6/8;
    grid-row: 13/17;
  }
  .main_iconicas .galeria .title_dame-8 {
    grid-column: 6/8;
    grid-row: 17/18;
  }
  .main_iconicas .galeria .harden-3 {
    grid-column: 2/4;
    grid-row: 18/22;
  }
  .main_iconicas .galeria .title_harden-3 {
    grid-column: 2/4;
    grid-row: 22/23;
  }
  .main_iconicas .galeria .kyrie-7 {
    grid-column: 5/8;
    grid-row: 18/22;
  }
  .main_iconicas .galeria .title_kyrie-7 {
    grid-column: 5/8;
    grid-row: 22/23;
  }
  .main_iconicas .galeria .ja-morant-1 {
    grid-column: 2/5;
    grid-row: 23/26;
  }
  .main_iconicas .galeria .title_ja-morant-1 {
    grid-column: 2/5;
    grid-row: 26/27;
  }
  .main_iconicas .galeria .gt-cut-2 {
    grid-column: 6/8;
    grid-row: 23/26;
  }
  .main_iconicas .galeria .title_gt-cut-2 {
    grid-column: 6/8;
    grid-row: 26/27;
  }
  .main_iconicas .galeria .curry-9 {
    grid-column: 2/4;
    grid-row: 27/29;
  }
  .main_iconicas .galeria .title_curry-9 {
    grid-column: 2/4;
    grid-row: 29/30;
  }
  .main_iconicas .galeria .luka-1 {
    grid-column: 2/4;
    grid-row: 30/32;
  }
  .main_iconicas .galeria .title_luka-1 {
    grid-column: 2/4;
    grid-row: 32/33;
  }
  .main_iconicas .galeria .tatum-1 {
    grid-column: 5/8;
    grid-row: 27/32;
  }
  .main_iconicas .galeria .title_tatum-1 {
    grid-column: 5/8;
    grid-row: 32/33;
  }
  .main_iconicas .sube {
    width: 30px;
    position: fixed;
    bottom: 5px;
    right: 0px;
  }
}
@media screen and (max-width: 533px) {
  .main_iconicas {
    height: auto;
  }
  .main_iconicas .galeria {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_iconicas .galeria .img_iconicas {
    padding: 1rem 1rem 0rem 1rem;
  }
  .main_iconicas .sube {
    width: 30px;
    position: fixed;
    bottom: 5px;
    right: 10px;
  }
}
@media screen and (max-width: 720px) {
  .main_contacto {
    flex-direction: column;
  }
  .main_contacto .contacto {
    width: 100%;
    margin-bottom: 10px;
  }
  .main_contacto form {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */