footer{
    background-color: rgb(236, 203, 141);
    display: flex;
    align-items: stretch;

    nav{
        width: 35%;
        background-color: rgb(228, 183, 100);

        ul{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    font-weight: 600;
                    color: brown ;
                    display: inline-block;
                    padding-top: 5px;
                }
            }
        }
    }
    .pie{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .copyright{
            width: 100%;

            p{
                padding: 15px;
                font-weight: 500;
                color: brown ;

                span{
                    
                font-weight: 100;
                color: rgb(0, 0, 0);
                }
            }
        }
        .redes{
            display: flex;
            align-items: center;
            justify-content: space-around;

            a{
                @each $red, $color in $redes{
                    .rs-#{$red}{
                        width: 30px;
                        border-radius: 5px;
                        background-color: #{$color};
                    }
                }
            }
        }
    }
}