@media screen and (max-width: 720px) {
    .main_contacto{
        flex-direction: column;

        .contacto{
            width: 100%;
            margin-bottom: 10px;
        }
        form{
            width: 100%;
        }
    }


}