.main_inicio{
    min-height: calc(100vh - 44px);
    background-color:  rgb(212, 188, 188);
    
    .inicio{
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;

        .lotus{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 1.5rem;
            gap: 10px;

            h1{
            font-family: 'Lora', serif;
            font-size: 5rem;
            }
            .logo{
            width: 150px;
            }
        }
        .pelota{
        width: 100px;
        height: 100px;
        margin-right: 20px;
        animation-name: pelota;
        animation-duration: 0.6s;    
        animation-iteration-count: infinite;
        }
        @keyframes pelota {
            0%{
                transform: translateY(40px) scale(1, 0.7);
            }
            4%{ 
                transform: translatey(30px) rotate(1deg);
            }
            50%{
                transform: translatey(-20px) rotate(130deg);
            }
            96%{ 
                transform:translatey(30px) rotate(360deg); 
            }
            100%{
                transform: translateY(40px) scale(1, 0.7);
            } 
        }
        
    }
    .apoyo{
        display: flex;
        margin-block: 10px;

        .buenas-zapatillas{
            width: 50%;
            padding: 10px;
            border: 3px solid rgb(231, 172, 172);
            h2{
                font-family: 'Lora', serif;
                padding: 10px;
            }
            p{
                padding: 10px;
            }
        }
        .tips{
            width: 40%;
            padding:20px;
            border: 3px solid rgb(231, 172, 172);
        }
    }    
    .video{
        width: 600px;
        max-width: 100%;
        iframe{
            width: 100%;
            aspect-ratio: 16/9;
            padding: 20px;
        }
    }

}
