@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$redes: (
    facebook:rgb(25, 25, 165),
    instagram:rgb(235, 20, 206), 
    tik-tok:rgb(226, 50, 50),
    twitter:rgb(0, 140, 255),
    whatsapp:rgb(24, 212, 24)
)

